.block30 {
  /* Rounded image corners */
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.blockShadow {
  /* Add drop shadow */
  -webkit-box-shadow: 5px 5px 5px 5px rgb(82, 82, 100);
  -moz-box-shadow: 5px 5px 5px 5px rgb(82, 82, 100);
  box-shadow: 5px 5px 5px 5px rgb(82, 82, 100);
}

.menuBlock {
  min-width: 500px;
  min-height: 380px;
  margin: 20px 0px 0px 20px;
}

@media screen and (max-width: 1830px) and (min-width: 1280px) {
  .menuBlock {
    min-width: 350px;
    min-height: 380px;
    margin: 20px 0px 0px 20px;
  }
}

@media screen and (max-width: 1280px) and (min-width: 960px) {
  .menuBlock {
    min-width: 350px;
    min-height: 310px;
    margin: 20px 0px 0px 20px;
  }
}

@media screen and (max-width: 960px) and (min-width: 765px) {
  .menuBlock {
    min-width: 250px;
    min-height: 230px;
    margin: 20px 10px 0px 20px;
  }
}

@media screen and (max-width: 765px) {
  .menuBlock {
    min-width: 250px;
    min-height: 230px;
    margin: 5px 10px 0px 20px;
  }
}

.patients {
  background-color: rgb(4, 138, 4);
}

.doctors {
  background-color: rgb(11, 71, 201);
}

.medicines {
  background-color: rgb(165, 2, 143);
  /* background-color: rgb(165, 2, 143); */
}

.appointments {
  background-color: rgb(231, 151, 2);
}

.prescriptions {
  background-color: rgb(71, 71, 207);
}

.dosage {
  background-color: rgb(127, 16, 231);
}