.menuBlock {
  width: 250px;
  height: 250px;
  margin: 10px 10px 10px 20px;
  /* Rounded image corners */
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  /* Add drop shadow */
  -webkit-box-shadow: 5px 5px 5px 5px rgb(82, 82, 100);
  -moz-box-shadow: 5px 5px 5px 5px rgb(82, 82, 100);
  box-shadow: 5px 5px 5px 5px rgb(82, 82, 100);
}

.doctors {
  background-color: rgb(250, 175, 187);
}

.patients {
  background-color: rgb(124, 184, 124);
}

.medicines {
  background-color: rgb(243, 243, 132);
}

.prescriptions {
  background-color: rgb(81, 81, 252);
}

.appointments {
  background-color: orange;
}

.aboutus {
  background-color: rgb(248, 43, 111);
}

.calc {
  background-color: blueviolet;
}