.logingImage {
  /* width: 20px; */
  margin: 0px 25px 20px 25px;
  border: 5px solid lightgray;
}

/* media queries .............................. */
@media screen and (max-width: 576px) {
  .logingImage {
    /* width: 20px; */
    margin: 0px 10px 10px 50px;
    border: 5px solid lightgray;
  }
}


